@charset "UTF-8";
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import "font/fontello.css";
@import "font/fira.css";
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.icon-pinterest {
  background-color: #b81621;
  color: #ffffff;
}

.icon-mail {
  background-color: #0a88ff;
  color: #ffffff;
}

.icon-linkedin {
  background-color: #007bb6;
  color: #ffffff;
}

.icon-facebook {
  background-color: #306199;
  color: #ffffff;
}

.icon-reddit {
  background-color: #8bbbe3;
  color: #ffffff;
}

.icon-gplus {
  background-color: #e93f2e;
  color: #ffffff;
}

.icon-tumblr {
  background-color: #32506d;
  color: #ffffff;
}

.icon-twitter {
  background-color: #26c4f1;
  color: #ffffff;
}

.icon-digg {
  background-color: #ffffff;
  color: #000000;
}

.icon-stumbleupon {
  background-color: #eb4924;
  color: #ffffff;
}

.icon-delicious {
  background-color: #ffffff;
  color: #31a9ff;
}

/* preview/thumbnail width and height must match those in settings.properties */
* {
  font-family: "Fira Sans";
  color: #402600;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background: #FFE5BF;
  position: relative;
  margin: 0;
  padding: 0;
}
body .content {
  max-width: 40em;
  margin: 0 auto;
  text-align: left;
  padding: 0.5em;
}

a, a:visited {
  text-decoration: none;
}

.wrap {
  margin: 32px 0 0 0;
  padding: 0;
}

body > div {
  text-align: center;
  padding: 0.5em;
}

.artist {
  font-weight: bold;
}

header {
  position: fixed;
  background: #0099FF;
  color: white;
  margin: 0;
  display: block;
  height: 32px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}
header a {
  margin: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  color: white;
  font-size: 150%;
  line-height: 32px;
  border-radius: 5px;
}
header a:hover {
  background: #BFE6FF;
  color: #402600;
}
header h1 {
  font-weight: bold;
  font-size: 150%;
  min-height: 32px;
  margin: 0;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}
header .left-btns, header .right-btns {
  position: absolute;
  z-index: 2001;
  top: 50%;
  margin-top: -16px;
  padding: 0;
  width: auto;
  height: 32px;
  display: block;
}
header .left-btns {
  left: 0.5em;
}
header .right-btns {
  right: 0.5em;
}
header span {
  display: none;
}

#menu {
  position: fixed;
  top: 32px;
  right: 0;
  background: #0099FF;
  color: white;
  z-index: 2000;
}
#menu ul {
  display: block;
  margin: 0;
  padding: 0;
}
#menu ul li {
  display: block;
  margin: 0;
  padding: 0;
  text-indent: 0;
  border-top: 1px solid white;
}
#menu ul li:first-of-type {
  border-top: none;
}
#menu a {
  color: white;
  display: block;
  padding: 0.25em 1em;
}
#menu a:hover {
  background: #BFE6FF;
  color: #402600;
}

.map {
  width: 100%;
  height: calc(100vh - 32px);
  /* viewport height minus header height */
  max-height: 70vw;
}

.profile {
  padding: 0.5em;
}
.profile .chart {
  width: 800px;
  margin: 0 auto;
}
.profile .chart svg {
  width: 100%;
  height: 18.75%;
}
@media all and (max-width: 850px) {
  .profile .chart {
    width: 600px;
  }
}
@media all and (max-width: 640px) {
  .profile .chart {
    width: 400px;
  }
}
@media all and (max-width: 450px) {
  .profile .chart {
    width: 240px;
  }
}
.profile .summary {
  width: 400px;
  margin: 0 auto;
}
.profile .summary th {
  text-align: left;
  font-weight: normal;
  font-style: italic;
}
.profile .summary td {
  text-align: right;
  font-weight: bold;
  font-style: normal;
}
@media all and (max-width: 450px) {
  .profile .summary {
    width: 240px;
    font-size: 75%;
  }
}

.folders ul {
  display: block;
  margin: 0;
  padding: 0 0.5em 0.5em 0.5em;
  background: #0099FF;
}
.folders ul li {
  list-style: none;
  display: inline-block;
  margin: 0.5em 0.25em 0 0.25em;
  padding: 0;
  text-indent: 0;
}
.folders ul li a {
  text-decoration: none;
  color: #402600;
  display: block;
  background: #BFE6FF;
  padding: 0 0.25em;
}
.folders ul li a:visited, .folders ul li a:hover {
  background: #0099FF;
}

.body ul {
  display: block;
  margin: 0;
  padding: 0 0.5em 0.5em 0.5em;
  background: #0099FF;
}
.body ul li {
  list-style: none;
  display: inline-block;
  margin: 0.5em 0.25em 0 0.25em;
  padding: 0;
  text-indent: 0;
}
.body ul li a {
  text-decoration: none;
  color: #402600;
  background: #BFE6FF;
  padding: 0 0.25em;
}
.body ul li a:visited, .body ul li a:hover {
  background: #0099FF;
}
.body ul li a:after {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.share {
  padding: 0.5em;
}
.share > a {
  margin: 0 0.125em;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  font-size: 150%;
  line-height: 32px;
  display: inline-block;
}

.thumbs {
  text-align: justify;
  display: block;
  margin: 0;
  padding: 0 0.5em 0.5em 0.5em;
  color: white;
}
.thumbs figure {
  background: #FFE5BF;
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em 0 0 0;
  padding: 0;
  border: 0.5em solid white;
}
.thumbs figure figcaption {
  display: none;
}
.thumbs figure img {
  display: block;
}

#disqus_thread {
  padding: 0.5em;
}

.preview figure {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em;
  background: white;
  max-width: 100%;
}
.preview figure img {
  display: block;
  max-height: 768px;
  max-width: 100%;
  margin: 0 auto;
}

footer {
  padding: 0.5em 0.5em 2.5em 0.5em;
  text-align: center;
}
footer a, footer a:visited {
  color: #0099FF;
}

/*# sourceMappingURL=style.css.map */
